.beams {
  background-image: url(../../public/images/hero.jpg);
  background-size: 150rem;
  z-index: -1;
}

:global(.dark) .beams {
  background-image: url(../../public/images/Centauri.svg);
  background-size: 25rem;
  background-position: center center;
}
