.beams {
  background-image: url(../../public/images/hero.jpg);
  background-size: 150rem;
  z-index: -1;
}

:global(.dark) .beams {
  background-image: url(../../public/images/Carinae.png);
  background-size: 30rem;
  background-position: top right;
}
